body {
    margin: 0;
    font-family: Arial, sans-serif;
}

/* Navbar */
.navbar {
    background-color: rgb(5, 47, 83);
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 15px 30px;
}

.nav-links a {
    color: white;
    margin-left: 20px;
    text-decoration: none;
    background-color: rgb(5, 47, 83);
}

/* Hero Section */
.hero {
    background: url('../images/last.jpg')  no-repeat center center/cover;
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

/* Overlay Box */
.overlay {
    position: absolute;   /* key line */
    top: 130px;               /* stick to top */
    left: 34px;         /* stick to left */
    color:rgb(0, 1, 2) ;
    padding: 40px;
    border-radius: 10px;
    text-align: center;
    /* color: white; */
}

.overlay h3 {
    font-size: 24px;     /* small text */
    font-weight: 400;
    /* margin-bottom: 10px; */
}

.overlay h1 {
    font-size: 48px;     /* big text */
    font-weight: 700;
    color: rgb(0, 46, 87);
    /* margin: 0; */
}
/* Line under text */
.line {
    width: 50px;
    height: 3px;
    background: rgb(0, 0, 0);
    margin: 10px auto;
}

/* Button */
.btn {
    background: rgb(5, 47, 83);
    border: none;
    padding: 12px 25px;
    color: white;
    border-radius: 20px;
    cursor: pointer;
}

/* Center form on screen */
.auth-container {
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Form box */
.auth-box {
    background: rgba(0, 0, 0, 0.6);
    padding: 40px;
    border-radius: 10px;
    width: 300px;
    text-align: center;
    color: white;
}

/* Inputs */
.auth-box input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: none;
    border-radius: 5px;
}

/* Button */
.auth-box button {
    width: 100%;
    padding: 10px;
    background: rgb(93, 173, 226);
    border: none;
    color: white;
    font-weight: bold;
    border-radius: 20px;
    cursor: pointer;
}

/* Hover effect */
.auth-box button:hover {
    background: rgb(93, 173, 226);
}

/* Links */
.auth-box a {
    color: rgb(93, 173, 226);
    text-decoration: none;
}

/* Profile section */
.profile {
    display: flex;
    align-items: center;
    gap: 10px;
}

/* Circle avatar */
.circle {
    width: 35px;
    height: 35px;
    background: rgb(93, 173, 226);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    color: white;
}

.messages {
    text-align: center;
    margin-top: 10px;
}

.messages p {
    background: lightgreen;
    padding: 10px;
    border-radius: 5px;
}

/* Profile menu */
.profile-menu {
    position: relative;
}

/* Circle */
.circle {
    width: 35px;
    height: 35px;
    background: rgb(93, 173, 226);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    color: white;
    font-weight: bold;
}

/* Dropdown */
.dropdown {
    display: none;
    position: absolute;
    right: 0;
    background: white;
    color: black;
    padding: 10px;
    border-radius: 5px;
    width: 150px;
}

.dropdown a {
    display: block;
    padding: 5px;
    text-decoration: none;
    color: black;
}

.dropdown a:hover {
    background: #eee;
}

