{% extends 'base.html' %}
{% load static %}

{% block title %}Register{% endblock %}

{% block content %}

<link rel="stylesheet" href="{% static 'patients/auth.css' %}">

<div class="auth-wrapper">
    <div class="auth-box">
        <h2>Register</h2>

        <form method="POST">
            {% csrf_token %}
            <input type="text" name="username" placeholder="Username" required>
            <input type="password" name="password" placeholder="Password" required>
            <button type="submit">Register</button>
        </form>

        <p class="auth-footer">
            Already have an account? <a href="{% url 'login' %}">Login</a>
        </p>
    </div>
</div>

{% endblock %}